@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Bree Serif', serif;
  list-style: none;  
}

a:link {
  text-decoration: none;  
}

a:visited{
  color: white;
}

body {
  background-color: #333;    
}

.cab {
  width: 1200px;
  display: flex;  
  padding: 10px;
  flex-direction: column;
}

h1 {
  color: white;
  display: flex;
  font-weight: bold;
  text-align: center;
  font-size: 3em;
  justify-content: flex-end;
}

h2 {
  color: silver;
  font-weight: bold;
  justify-content: flex-end;
}

.pic {
  width: 70px;
  height: 70px;
  border: white solid 3px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
}
.cmenu{ 
  display: flex;  
  justify-content: flex-end; 
}
.nmenu {
  width: 8%;
  height: 600px;
  color: white;  
  align-items: center;
  display: flex;
  justify-content: flex-end; 

}

.nmenu:before {
  content: '';
  position: absolute;
  right: 7%;
  width: 2px;
  height: 600px;  
  background-color: silver;
  border-radius: 3px;
  z-index: -1;  
}
.bmenu {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
}

.imenu i {
  font-size: 2em;
  text-align: center;
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.753);
}

i span {
  display: none;
  height: 25px;
  width: 100px;
  font-size: 20px;
  color: black;
  text-shadow: none;
  background-color: white;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
  border-radius: 7px;
  margin-top: 15px;  
  transform: 0.6s all;
}

.imenu span:after {
  content: '';
  width: 10px;
  height: 10px;
  top:  10px;
  display: flex;
  position: relative;  
  background: white;
  z-index: -1;
  left: 45px;
  transform: translateY(-350%) rotate(45deg)
}

i:hover > span {
  display: block;
}

.formulario {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

form {
  margin: 20px;
  width: 300px;
  display: flex;  
}
