* {
    margin: 0px;
    padding: 0px;
    font-family: 'Bree Serif', serif;   
}
.princ {
    width: 100%;
    height: 660px;    
}
header {
    width: 100%;   
    float: left;
}
.foto {
    width: 29%;
    height: 660px;
    float: left;
    background-color: rgb(179, 179, 179);
    color: rgb(189, 0, 0);
    border-right-width: 1%;
    border-right-style: solid;    
}
figure{
    width: 200px;
    margin: auto;
    text-align: center;
    margin-top: 150px;
}
img{
    width: 150px;
    height: 150px;
    border: 5px solid rgb(189, 0, 0);
    border-radius: 100px;
    padding: 5px;
    transition: 0,5s;
    
}
img:hover {
    transform: scale(1.2);
    transition: 0,5s;
}
h1 {
    margin-top: 10px;
    font-size: 25px;
    font: bold;
}
figcaption{
    margin-top: 10px;
}
nav {
    margin: 0 auto;
}
.menu {
    padding: 20px;
    font-size: 20px;
    text-align: center;    
} 
.menu li {
    margin: 0 auto;
    width: 150px;
    padding: 3px;
    cursor: pointer;
    list-style-type: none;
}
.menu li:hover {
    background-color: gray;
    border-radius: 5px;
}
.sub1 {
    display: none;    
}
.sub1:hover li {
    display: block; 
}
.sub2 {
    display: none;
}
.sub2:hover .sub1 {
    display: block; 
}     
h2 {
    font: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.466);
    width: 100%;
    height: 100%;
    text-align: left;
    box-sizing: border-box;
    padding-left: 100px;
    padding-top: 100px;
    transition: 1s;
}
h2:hover {
    background-color: rgba(0, 0, 0, 0.226);
    transition: 1s;
}
a{
    text-decoration: none;
    color: inherit;
}
a:visited{
    color: inherit;
}
.for{
    margin: 10px;
   
}
fieldset{
    margin: 10px;
    padding: 10px;
    width: 600px;
    border: 2px solid rgb(189, 0, 0);
    border-radius: 5px;    
}
legend {
    margim: 5px;    
    padding: 5px;
    font-weight: bold;
    font-size: 25px;
}
.arq{
    width: 400px;    
}
.arql{
    font-size: 18px;
}
imput, buttom textarea select {
    padding: 10px;
}
label{
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
}
.camp{
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;    
}
textarea{
    width: 400px;
    height: 150px;
}
button{
    width: 80px;        
    border: 2px solid rgb(189, 0, 0);
    margin: 5px;
    border-radius: 5px;
    background-color: white;
    color: rgb(189, 0, 0); 
    font-size: 20px;
    font-weight: bold;
}
button:hover {
    background-color: rgb(189, 0, 0);
    color: white;
    border: 2px solid white;
}
footer {
    width: 100%;
    height: 67px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
    line-height: 65px;
}
