$preto: #000000;
$azulEscuro: #0F1F2F;
$azulMedio: #0A264B;
$azulClaro: #1e3957;
$dourado: #CD912F;
$prateado: #CDCDC3;
$branco: #FFFFFF;


$html5: #F16524;
$css3: #2AA9E0;
$sass: #DC6194;
$js: #F7E018;
$d3: #D8752B;
$git: #F05033;
$github: #24292E;
$wp: #0073AA;
$node: #026E00;
$php: #787CB4;
$adobe: #EE161F;